.app-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #9ba9eb;
  min-height: 100vh;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.password-manager-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
}
.password-manager-logo-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.app-logo {
  width: 15%;
}
.form-input-and-password-manager-image-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  background-color: #5763a5;
  margin-bottom: 30px;
}
.user-name-password-input-container {
  background-color: #454f84;
  padding: 30px;
  width: 40%;
  border-radius: 10px;
}
.add-new-password-text {
  color: white;
}
.website-input-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 45px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.website-logo {
  background-color: white;
  height: 40px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  padding: 5px;
  border-right: 1px solid black;
}
.website-input {
  height: 40px;
  border: none;
  flex-grow: 1;
  outline: none;
  padding-left: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.username-input-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 45px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.user-logo {
  background-color: white;
  height: 40px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  padding: 5px;
  border-right: 1px solid black;
}
.username-input {
  height: 40px;
  border: none;
  flex-grow: 1;
  outline: none;
  padding-left: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.password-input-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 45px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.password-logo {
  background-color: white;
  height: 40px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  padding: 5px;
  border-right: 1px solid black;
}
.password-input {
  height: 40px;
  border: none;
  flex-grow: 1;
  outline: none;
  padding-left: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.add-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.add-button {
  color: white;
  background-color: blue;
  height: 40px;
  width: 50px;
  border-radius: 3px;
  border: none;
  outline: none;
}
.password-manager-image-container {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.password-manager-image {
  width: 80%;
}
.passwords-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #5763a5;
  height: 600px;
}
.passwords-count-and-search-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  margin-bottom: 0px;
}
.your-password-text-count-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}
.your-passwords-text {
  color: white;
  font-size: 20px;
  margin-right: 30px;
  margin-bottom: 0px;
}
.passwords-count {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  border: 1px solid white;
  font-size: 20px;
  height: 30px;
  width: 60px;
  padding: 5px;
  margin-right: 30px;
  margin-bottom: 0px;
}
.passwords-search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  width: 280px;
  margin-bottom: 0px;
}
.search-logo {
  background-color: white;
  height: 30px;
  margin-bottom: 0px;
}
.password-search-input {
  height: 30px;
  border: none;
  outline: none;
  width: 250px;
  padding-left: 10px;
  margin-bottom: 0px;
}
.horizontal-line {
  border: 1px solid #b6c3ca;
  width: 100%;
}
.passwords-storage-container {
  width: 100%;
}
.passwords-storage-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 0px;
}
.show-passwords-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.show-passwords-text {
  color: white;
}
.no-passwords-image-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.no-passwords-image {
  height: 300px;
}
.no-passwords-text {
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 700;
}
